/* Classes */
.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-menu {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 var(--gap);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 6.5rem;
}

.banner {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    color: var(--white-color);
}

.intro-bg {
    background: #F0F8FF;
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    color: var(--primary-color);
}

.intro-content {
    display: grid;
    position: relative;
    top: -2.5rem;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
    border-radius: 15rem;
}

.grid-main-heading {
    margin-bottom: 10rem;
}

/* Footer */
.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: var(--primary-color);
}

.heart {
    color: var(--purple);
}

.footer p {
    margin: 0;
    padding: 3rem;
}

/* Botão para voltar para o topo */
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    background: none;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    color: var(--purple);
    transform: rotate(-90deg);
    font-size: 6rem;
}

#logo img {
    max-width: 15rem;
}

.skills-bg {
    background-color: #bdccdb;
}

#footer {
    font-size: 2rem;
}

.footer span img {
    position: relative;
    top: 0.5rem;
}