/* Compontents */

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1.5rem;
}

.form-group input,
.form-group textarea {
    border: none;
    padding: 1.5rem 2rem;
    width: 100%;
    height: 50%;
    font-size: 3rem;
    outline: none;
    border: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-radius: 4rem;
    color: var(--primary-color);
    margin-right: 0;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 0.3rem 0.3rem #800080;
}

.form-group button {
    border: 0.2rem solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 0.1rem rgba(255, 255, 255, .1);
    background-color: #4ca1f5;
    border-radius: 4rem;
    color: var(--primary-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    box-shadow: 0 0 0.3rem 0.3rem #800080;
}

.form-group ::placeholder {
    color: var(--primary-color);
}